.navBar{
    display: flex;
    flex-direction: column;
    padding: 8px 54px 0 8px;
}
.navBar>a{
    color: #00A085;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.navBar>a:nth-last-child(2){
    margin-bottom: 10px;
}
.navBar>a:last-child{
    margin-bottom: 0;
    font-size: 12px;
}
.navBar>a>img{
    margin-right: 4px;
}